.CookiesInfo {
  padding: 30px 20px;
  border-top: 1px solid $light-gray;
  background-color: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  a {
    text-decoration: underline;
  }

  &__close {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s;

    img {
      height: 20px;
    }

    &:hover {
      transform: rotate(90deg);
    }
  }
}
