.CookiesInfo {
  padding: 20px 20px 30px 20px;
  border-top: 1px solid $middle-gray;
  background-color: #fff;

  .container {
    .CookiesInfo__close {
      display: block;
      margin-left: auto;
      border: 0;
      background-color: transparent;
      cursor: pointer;

      img {
        height: 20px;
      }
    }

    p {
      margin: 0;
    }

    a {
      text-decoration: underline;
    }
  }
}
