.Input {
  display: block;
  margin-top: 30px;
  color: $gray;

  &__labelText {
    position: relative;
    top: 33px;
    left: 10px;
    font-size: 18px;
    cursor: text;
    transition-property: top, font-size;
    transition-duration: 0.3s;
  }

  &.focused {
    .Input__labelText {
      top: 0;
      font-size: 14px;
    }
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid $dark;
    background-color: transparent;
    color: $dark;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    outline: none;

    &::placeholder {
      color: $gray;
    }
  }

  &__error {
    input,
    textarea {
      border-bottom-color: $error;
      color: $error;
    }
  }
}
