.LinkButton {
  position: relative;
  display: inline-flex;
  padding: 15px 50px;
  border: 0;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;

  strong {
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    right: 0;
    background-color: $primary;
    transition: 0.3s;
  }

  &:hover,
  &:focus {
    &::after {
      left: 0;
    }
  }

  &.light {
    border-color: #fff;

    &::after {
      background-color: #fff;
    }
  }
}
