.MobileNavigation {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: 11;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 77%;
  height: 100vh;
  padding: 40px;
  border-left: 1px solid $white;
  background-color: $dark;
  overflow: auto;
  transition: left 0.3s;

  &.open {
    left: 23%;
  }

  ul {
    font-size: 22px;

    li {
      width: fit-content;
      margin: 25px 0;

      a {
        color: $white;
      }
    }
  }

  .SocialMedia {
    margin-bottom: 0;

    a {
      margin: 0 25px 25px 0;

      img {
        height: 20px;
      }

      &:hover {
        img {
          filter: brightness(7);
        }
      }
    }
  }

  @media (max-width: 1100px) {
    display: flex;
  }
}
