.SocialMedia {
  display: flex;
  align-items: center;
  margin: 50px 0;

  a {
    margin-right: 30px;

    img {
      height: 24px;
    }

    &:hover {
      img {
        filter: brightness(0);
      }
    }
  }
}
