@import "../basic/colors";

.About {
  padding: 0 20px 80px 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__main-image {
    flex: 2;
    margin-right: 60px;

    img {
      width: 100%;
      border-radius: 3px;
    }
  }

  &__content {
    flex: 4;

    .LinkButton {
      margin-top: 50px;
    }
  }

  @media (max-width: 900px) {
    &__container {
      flex-direction: column;
    }

    &__main-image {
      margin-right: 0;
    }
  }
}

// EXPERIENCE

.Experience {
  padding: 80px 20px;
  background-color: $white;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__elem {
    width: calc(100% / 3 - 20px);
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    background-color: $white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

    .date {
      color: $gray;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }

    h4 {
      margin: 15px 0 20px 0;
      font-size: 24px;
      font-weight: 700;
    }
  }

  @media (max-width: 900px) {
    &__elem {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 900px) {
    padding: 80px 20px;

    &__container {
      flex-direction: column;
    }

    &__elem {
      width: 100%;
      margin: 10px 0;
    }
  }
}

// TECHNOLOGIES

.Technologies {
  padding: 80px 20px 0 20px;

  .title {
    display: inline-flex;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    &.active {
      &::after {
        bottom: 3px;
      }
    }

    p {
      position: relative;
      z-index: 10;
    }
  }

  &__container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 60px;
    text-align: center;

    img {
      max-width: 90px;
      height: 50px;
      margin-bottom: 12px;
    }
  }

  &__technology {
    margin: 25px 45px 0 0;
  }
}
