@import "../basic/colors";

.Home {
  &__hero {
    position: relative;
    display: flex;
    align-items: flex-start;
    min-height: 70vh;
    padding-top: 10vh;

    &--content {
      flex: 3;

      h2 {
        margin-bottom: 10px;
        font-size: 44px;
        font-weight: 700;
      }

      .writer {
        position: relative;
        min-height: 50px;
        padding-right: 5px;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: -7px;
          width: 7px;
          height: 50px;
          background-color: #ccc;
        }

        &.with-bg {
          background-color: #ddd;
        }
      }

      .description {
        max-width: 660px;
        margin-top: 25px;
      }

      .LinkButton {
        margin-top: 50px;
      }
    }

    &--right {
      position: relative;
      flex: 2;
    }

    &--landscape {
      position: absolute;
      top: -160px;
      right: 20px;
      width: 130%;

      #mountains,
      #tree,
      #plants,
      #sunshine,
      #cloud1,
      #cloud2 {
        opacity: 0;
      }
    }
  }
}
