.PrivacyPolicy {
  max-width: 1000px;
  padding: 0 20px 80px 20px;

  .Heading {
    margin-bottom: 60px;
  }

  .paragraph {
    margin: 40px 0 20px 0;
    font-size: 20px;
    text-align: center;
  }

  ul {
    list-style: none;

    li {
      padding: 5px 0;

      &:first-child {
        padding-top: 10px;
      }
    }
  }

  ol {
    padding-left: 15px;

    li {
      padding: 5px 0;
    }
  }

  a {
    text-decoration: underline;
  }
}
