@import "./colors.scss";

.home-header {
  display: flex;
  position: relative;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  height: 80vh;
  margin: auto;
  padding-top: 10vh;

  .home-header__content {
    flex: 1;
    padding: 20px;
    font-size: 30px;

    h1 {
      margin: 0;
      font-size: 60px;
      font-weight: 400;
    }

    p {
      margin: 10px 0;
    }

    a {
      margin-top: 30px;
    }
  }

  .home-header__right {
    position: relative;
    flex: 1;
    padding: 20px;

    .home-header__landscape {
      position: absolute;
      top: -160px;
      right: 20px;
      width: 130%;
    }
  }

  .home-header__social-media-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  @media (max-width: 1000px) {
    flex-direction: column;

    .home-header__content {
      width: 100%;
    }

    .home-header__right {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .home-header__content {
      h1 {
        font-size: 36px;
      }

      p {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }
}
