@import "./reset.scss";
@import "./fonts.scss";
@import "./colors.scss";

html,
body {
  color: $text-primary;
  font-family: "Raleway", sans-serif;
  font-size: 16px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 50vh;
    background-color: $primary;
    z-index: -1;
  }
}

a {
  color: $text-primary;
}

p {
  line-height: 24px;
}

span {
  color: $primary;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

@import "./components/header";
@import "./components/navigation";
@import "./components/footer";
@import "./components/cookiesInfo";
@import "./components/heading";
@import "./components/subtitle";
@import "./components/linkButton";
@import "./components/socialMedia";
@import "./components/hireMeBox";

@import "./layouts/projectLayout.scss";
