.Projects {
  .Project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;

    .Project__image {
      width: 45%;
      min-height: 200px;
      background-position: center;
      background-size: 20%;
      background-repeat: no-repeat;
    }

    .Project__content {
      width: 50%;

      .name {
        margin: 0;
        font-size: 22px;
      }
    }

    .swym {
      background-image: url("../images/projects/swym.svg");
      background-color: rgb(21, 108, 207);
    }

    .droplead {
      background-image: url("../images/projects/droplead.svg");
      background-color: #eee;
    }
  }

  @media only screen and (max-width: 800px) {
    .Project {
      flex-direction: column;

      .Project__image {
        width: 100%;
        margin-bottom: 20px;
        background-size: 30%;
      }

      .Project__content {
        width: 100%;
      }
    }
  }
}
