html,
body {
  position: relative;
  left: 0;
  background-color: $lighter-gray;
  color: $dark;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  transition: left 0.3s;

  &.openedMobileMenu {
    left: -77%;
    overflow: hidden;
  }
}

main {
  padding: 168px 0 80px 0;
}

a {
  color: $dark;
}

p {
  line-height: 24px;
}

button {
  color: $dark;
  font-family: "Ubuntu", sans-serif;
}

textarea {
  resize: none;
}

span {
  color: $primary;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $primary;
  }

  p,
  a {
    position: relative;
    z-index: 1;
  }
}

.RoundBox {
  padding: 40px;
  border-radius: 5px;
  background-color: $white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

  &--active {
    padding: 38px;
    border: 2px solid $primary;
  }
}

.error {
  color: $error;
}
