@import "../colors.scss";

.ProjectLayout {
  &__intro {
    padding: 0 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 80px 20px;

    &--mainImage {
      display: flex;
      width: 45%;

      img {
        width: 50%;
      }
    }

    &--description {
      width: 50%;
    }
  }

  &__additional-images {
    padding: 80px 10px;
    background-color: $light-gray;

    &--container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;

      img {
        width: 25%;
      }
    }
  }

  @media (max-width: 750px) {
    &__content {
      flex-direction: column;

      &--mainImage {
        width: 100%;

        img {
          width: 50%;
          margin-bottom: 30px;
        }
      }

      &--description {
        width: 100%;
      }
    }

    &__additional-images {
      &--container {
        img {
          width: 50%;
          margin-bottom: 30px;
        }
      }
    }
  }
}
